# Python-specific
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb

# Django-specific
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
media/
staticfiles/
*.env
.env

# Virtual environments
env/
venv/
ENV/
VENV/
pip-log.txt
pip-delete-this-directory.txt

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Other
*.bak
*.swp
*~
